doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Listener
    link(rel="stylesheet", href="https://unpkg.com/mvp.css")
  body
    header
      h1 Listener
    main
      div#welcome
        form
          input(placeholder="Vehicle ID", required, type="text")
          button Start Streaming
      div#call
        video#peerFace(autoplay, playsinline, width="1000", height="600")
    script(src="/socket.io/socket.io.js")
    script(src="/public/js/listener.js")
